
.posts {
    font-size: 25px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.area {

}

.btn {
    align-self: flex-end;
    margin-right: 125px;
    margin-top: -10px;
}
