.navbar {
    grid-area: nav;
    background-color: teal;
}

.items {
    margin: 10px;
}

.item {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding-top: 3px;
}

.active {
    color: yellow;
}
