.navbar {
    grid-area: nav;
    background-color: teal;
}

.items {
    margin: 10px;
}

.items a {
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding-top: 3px;
}

.item {
    color: white;
}

.activeLink {
    color: gold;
}
